<!DOCTYPE html>
<html>
<style>
body {
 background:black;
 color:white;
}
</style>
<head>
</head>

<body>



<h1>
  Game Rules
</h1>

This page contains links to the game rules of all BirdFace games.
Right now there's only one, but more are on the way!


<h3>
    <a href="./onu_rules">
        ONU Rules
    </a>
</h3>


</body>
</html>
