body{
    background-color:black;
    color:white;
    font-size: min(3vh,3vw);/*calc((2vw + 2vh) / 2);*/
    
    }
  .topnav{
    overflow:hidden;
    background-color: #C51A4A;
      
    }
  .topnav a{
    float: left;
    /*color:#000000;*/
   color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: min(3vh,3vw);
    font:min(3vh,3vw) times new roman;
    }
  .topnav a:hover{
    background-color:#ddd;
    color:black;
    }
  .topnav a.active{
    background-color: #6CC04A;
    color:black;
    font-weight: bold;
    }
/*button {
    float: left;
    background-color: #6CC04A;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: min(2vh,2vw);
    cursor: pointer;
    }*/

input[type="color"] {
/*     width: calc( 2em + min(13vh,13vw) ); */
/*     height: calc( 2.5rem + min( 2vh , 2vw) ); */
    width: calc(20px + min(12vw,12vh));
    height: calc(14px + min(6vw,6vh));
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    /*border: none; /* Remove the default border */
    /*border-radius:50%; /* Make it a circular shape */
    border-radius:0%;
    outline: none; /* Remove the focus outline */
    cursor: pointer; /* Add a pointer cursor */
    margin-top: 10px;
    border: 0px; /*
    margin-bottom: 10px;
    margin-right: 5px;*/
}
/*     
#submitButton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #c51a4a;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: min(2vh,2vw);
  height: calc( 2.5rem + min( 2vh , 2vw) );
  width: calc( 2em + min(13vh,13vw) );
  bottom: 23px;
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height:  min(4.5vh,4.5vw);
  width:  min(4.5vh,4.5vw);
  background-color: #6cc04a;
  border-radius: 50%;
  transition: .6s ease;
  
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}    
    
     */
