body{
    background-color:black;
    color:white;
    font-size: min(3vh,3vw);/*calc((2vw + 2vh) / 2);*/
    
    }
  .topnav{
    overflow:hidden;
    background-color: #C51A4A;
      
    }
  .topnav a{
    float: left;
    /*color:#000000;*/
   color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: min(3vh,3vw);
    font:min(3vh,3vw) times new roman;
    }
  .topnav a:hover{
    background-color:#ddd;
    color:black;
    }
  .topnav a.active{
    background-color: #6CC04A;
    color:black;
    font-weight: bold;
    }
/*button {
    float: left;
    background-color: #6CC04A;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: min(2vh,2vw);
    cursor: pointer;
    }*/

input[type="color"] {
/*     width: calc( 2em + min(13vh,13vw) ); */
/*     height: calc( 2.5rem + min( 2vh , 2vw) ); */
    width: calc(20px + min(12vw,12vh));
    height: calc(14px + min(6vw,6vh));
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    /*border: none; /* Remove the default border */
    /*border-radius:50%; /* Make it a circular shape */
    border-radius:0%;
    outline: none; /* Remove the focus outline */
    cursor: pointer; /* Add a pointer cursor */
    margin-top: 10px;
    border: 0px; /*
    margin-bottom: 10px;
    margin-right: 5px;*/
}
    
#submitButton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #c51a4a;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: min(2vh,2vw);
  height: calc( 2.5rem + min( 2vh , 2vw) );
  width: calc( 2em + min(13vh,13vw) );
  bottom: 23px;
}
    
.docio_container {
    flex-shrink: 1;
    flex-grow: 1;
    font-family: Ubuntu Mono;
}


.docio_output {
    margin: .5em 1em 0;
    &:first-of-type {
        margin-top: 1em;
    }
    &:last-of-type {
        margin-bottom: 1em;
    }

    background-color: #303030;

    border: .2em solid #c51a4a;
    &[open] {
        & summary {
            border: .2em solid #6cc04a;
        }
    }

    & summary {
        position: relative;
        cursor: pointer;
        padding: .5em .5em;
        text-align: center;
        &:hover {
            background-color: #484848;
        }
    }

    & div {
        white-space: pre-wrap;
        word-break: break-all;
        padding: 0em 1em 1em;
        font-size: .9em;
    }
}
